.graph-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
  height: 344px;
  width: 1061px;
  place-items: center;
  top: 19px;
  left: 27px;
  border: solid 3px #3751ff;
  border-radius: 8px;
  place-items: center;
}

.graph-line{
  width: 690px;
  height: 300px;
  padding-bottom: 50px;
}
