.graph-container {
  position: relative;
  height: 400px;
  width: fit-content;
  place-items: center;
  border-radius: 8px;
  place-items: center;
  color: white;
}

h2 {
  position: relative;
  left: 10%;
}

.graph-line {
  width: 650px;
  height: 400px;
  /* padding-bottom: 20px;
  padding-right: 20px; */
}
