.content {
  margin-left: 212px;
  padding: 1px 16px;
  height: fit-content;
}

.content h1 {
  position: relative;
  left: 39px;
  width: fit-content;
  color: white;
}

.wind-content-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: relative;
  top: 55px;
}

.env-num {
  background-color: #191966;
  color: white;
}
